<app-dashboard></app-dashboard>
<h1>Trade Surveillance</h1>
<p>
    Front running aka tailgating is a practice where a trader places an order for security under the firm’s own account wanting to take advantage of advance knowledge of customer orders to be placed. Front running can be performed manually or electronically. By performing front running the firm earns a profit by anticipating the price movement when large customer orders are placed. There is a need to monitor trades for this fraud as it is illegal and can cause huge reputational losses to the firm.
    The front running detection software is being built for analyzing the trade lists and detecting possible instances of front running. These suspected instances can then be further investigated. The primary users of the application are the employees in the middle office of the firm. 
    The software is needed as the volume of transactions occurring daily is huge and it is not feasible for humans to process it, it also introduces a possibility of human error and the company cannot risk reputational damage as it might adversely affect business.
    This software is to be used by the team responsible for risk management and compliance i.e the middle office. The suspected scenarios of front running, if any, are reported to them and processed further. 
</p>
<h2>Our team:</h2>
<div>
    <li>Arpit</li>
    <li>Adil</li>
    <li>Harshita</li>
    <li>Nikki</li>
    <li>Rhea</li>
    <li>Samradnyi</li>
    <li>Shreyas</li>
    <li>Sonal</li>
</div>