<app-dashboard></app-dashboard>
<tr>
    Choose broker for detectin wash trades

<tr>
<tr>

    <p-button  class="p-mr-2 dropbtn" (onClick)="chooseBroker1()">Irene Adler</p-button>
    <p-button  class="p-mr-2 dropbtn" (onClick)="chooseBroker2()">Jack Stapleton</p-button>
    <p-button  class="p-mr-2 dropbtn" (onClick)="chooseBroker3()">Jim Moriarity</p-button>

<tr>

<p-table #dt [hidden] = display id= "frauds" [columns]="cols" [value]="trades">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trade let-columns="columns">
        <tr [ngClass]="{
            'empty' : trade[tradeID]==''
        }">
            <td *ngFor="let col of columns">
                    {{trade[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>