<app-dashboard></app-dashboard>
<p-table id= "frauds" [columns]="cols" [value]="trades">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trade let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{trade[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<p-button label="Download" style="cursor: pointer" (click)="exportexcel()"></p-button>
<!--a href="F:\Angular Workspace\TradeSurveillance\src\assets\download.jpg" download>File Download</a-->
