<app-dashboard></app-dashboard>
<table style="margin-left: 14%;" >
   <tr >
       <td style="width: 17em;">
           <p-panel  header="Equity Shares">
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="esCustomerBuy" (onChange)="updateGraph()"></p-checkbox> Equity Shares: Customer Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="esCustomerSell" (onChange)="updateGraph()"></p-checkbox> Equity Shares: Customer Sell</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="esFirmBuy"  (onChange)="updateGraph()"></p-checkbox> Equity Shares: Firm Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="esFirmSell" (onChange)="updateGraph()"></p-checkbox> Equity Shares: Firm Sell</label></tr>
           </p-panel>
       </td>
       <td style="width: 17em;">
           <p-panel header="Futures">
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="futuresCustomerBuy" (onChange)="updateGraph()"></p-checkbox> Futures: Customer Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="futuresCustomerSell" (onChange)="updateGraph()"></p-checkbox> Futures: Customer Sell</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="futuresFirmBuy" (onChange)="updateGraph()"></p-checkbox> Futures: Firm Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="futuresFirmSell" (onChange)="updateGraph()"></p-checkbox> Futures: Firm Sell</label></tr>
           </p-panel>           
       </td>
       <td style="width: 17em;">
           <p-panel header="Call Option">
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="coCustomerBuy" (onChange)="updateGraph()"></p-checkbox> Call Option: Customer Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="coCustomerSell" (onChange)="updateGraph()"></p-checkbox> Call Option: Customer Sell</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="coFirmBuy" (onChange)="updateGraph()"></p-checkbox> Call Option: Firm Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="coFirmSell" (onChange)="updateGraph()"></p-checkbox> Call Option: Firm Sell</label></tr>
           </p-panel> 
       </td>
       <td style="width: 17em;">
           <p-panel header="Put Option">
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="poCustomerBuy" (onChange)="updateGraph()"></p-checkbox> Put Option: Customer Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="poCustomerSell" (onChange)="updateGraph()"></p-checkbox> Put Option: Customer Sell</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="poFirmBuy" (onChange)="updateGraph()"></p-checkbox> Put Option: Firm Buy</label></tr>
               <tr><label><p-checkbox [binary]="true" value="" [(ngModel)]="poFirmSell" (onChange)="updateGraph()"></p-checkbox> Put Option: Firm Sell</label></tr>
           </p-panel>
       </td>
   </tr>
</table>

<div style="margin-top: 5px;">
    <p-chart class="chart" style="color: black;" height="600px" [data]="data" [options]="options" type="line"></p-chart>
</div>
