<app-dashboard></app-dashboard>
<table width = "100%" border = "0">
         
    <tr valign = "top">
       <td bgcolor = "#eee" width = "100">
        <tr><label><input type="checkbox" value="" [(ngModel)]="esCustomerBuy"(change)="updateGraph()">Equity Shares: Customer Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="esCustomerSell"(change)="updateGraph()">Equity Shares: Customer Sell</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="esFirmBuy" (change)="updateGraph()">Equity Shares: Firm Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="esFirmSell" (change)="updateGraph()">Equity Shares: Firm Sell</label></tr>
            
       </td>
       
       <td bgcolor = "#eee" width = "100" height = "100">
        <tr><label><input type="checkbox" value="" [(ngModel)]="futuresCustomerBuy"(change)="updateGraph()">Futures: Customer Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="futuresCustomerSell" (change)="updateGraph()">Futures: Customer Sell</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="futuresFirmBuy" (change)="updateGraph()">Futures: Firm Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="futuresFirmSell" (change)="updateGraph()">Futures: Firm Sell</label></tr>
            
            
       </td>
       <td bgcolor = "#eee" width = "100" height = "100">
        <tr><label><input type="checkbox" value="" [(ngModel)]="coCustomerBuy" (change)="updateGraph()">Call Option: Customer Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="coCustomerSell" (change)="updateGraph()">Call Option: Customer Sell</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="coFirmBuy" (change)="updateGraph()">Call Option: Firm Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="coFirmSell" (change)="updateGraph()">Call Option: Firm Sell</label></tr>
            
            
     </td>
     <td bgcolor = "#eee" width = "100" height = "100">
        <tr><label><input type="checkbox" value="" [(ngModel)]="poCustomerBuy" (change)="updateGraph()">Put Option: Customer Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="poCustomerSell" (change)="updateGraph()">Put Option: Customer Sell</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="poFirmBuy" (change)="updateGraph()">Put Option: Firm Buy</label></tr>
        <tr><label><input type="checkbox" value="" [(ngModel)]="poFirmSell" (change)="updateGraph()">Put Option: Firm Sell</label></tr>
            
            
     </td>
    </tr>
   
    
 </table>
 <p-chart type="line" [data]="data"></p-chart>
<!--p-checkbox name="groupname" value="val1" [(ngModel)]="isCheckedTwo" [binary]="true"></p-checkbox>
<p-checkbox name="groupname" value="val2" [(ngModel)]="isCheckedThree" [binary]="true" (onChange)="trial(isCheckedTwo?'C':'D')"></p-checkbox>
<p-chart type="line" [data]="data" [hidden]="!isCheckedTwo"></p-chart>
<p-chart type="line" [data]="data1" [hidden]="!isCheckedThree"></p-chart>
<button label="Draw Graph" type="button" pButton (click)="update($event)"></button>
<button label="Draw Graph" type="button" pButton (click)="updateTwo($event)"></button-->