/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body { 
  padding: 0px; 
  margin: 0px; 
  border: 0px;
  font-family: Roboto, sans-serif; 
  
}

.flex-spacer{
  flex: 1 1 auto;
}

.toolbar-flex {
  flex: 1 0.3 auto;
}
*/

html {
  min-height: 100vh;
  margin: 0px;
  font-family: fantasy;
}
body { 
  padding: 0px; 
  margin: 0px; 
  border: 0px;
  font-family: Roboto, sans-serif; 
  background: blue;
}

