@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// some basic resets 

body { 
  padding: 0px; 
  margin: 0px; 
  border: 0px;
  font-family: Roboto, sans-serif; 
  
}

.flex-spacer{
  flex: 1 1 auto;
}

.toolbar-flex {
  flex: 1 0.3 auto;
}
